###MOVIE DATA CLEANING###

In [29]:
import pandas as pd
import numpy as np
data={'movie':['movie1','movie2','movie3','movie4'],
      'rating':[4.6,np.nan,4.4,np.nan],
       'release_year':['1994','2022',np.nan,'2006']} 
df=pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie         4 non-null      object
 1   rating        2 non-null      float64
 2   release_year  3 non-null      object
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes

###find the missing values

In [30]:
miss_value=df.isnull().sum()
print(miss_value)

movie           0
rating          2
release_year    1
dtype: int64

//Handle missing Data//

In [31]:
df['rating']=df['rating'].fillna(df['rating'].median())
print(df)
print()
df=df.dropna(subset=['release_year'])
print(df)

    movie  rating release_year
0  movie1     4.6         1994
1  movie2     4.5         2022
2  movie3     4.4          NaN
3  movie4     4.5         2006

    movie  rating release_year
0  movie1     4.6         1994
1  movie2     4.5         2022
3  movie4     4.5         2006

//correct Release year column into an integer//

In [32]:
df.loc[:,'release_year'] = df['release_year'].astype(int)
print()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 3
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie         3 non-null      object
 1   rating        3 non-null      float64
 2   release_year  3 non-null      object
dtypes: float64(1), object(2)
memory usage: 96.0+ bytes