#SALES DATA ANALYSIS

objective:load a sample sales dataset and perform basic analysis to find total sales per product

In [21]:
import pandas as pd
import numpy as np
data={'product':['A','B','A','C','B'],'quantity':[10,5,12,8,7],'price':[20,15,20,25,15]}
sales_df=pd.DataFrame(data)
print("original datas are:")
print(sales_df)

original datas are:
  product  quantity  price
0       A        10     20
1       B         5     15
2       A        12     20
3       C         8     25
4       B         7     15

##//create a new column using vectorized operations

In [24]:
sales_df['total_sales'] = sales_df['quantity'] * sales_df['price']


print(f"total sales values is{sales_df.total_sales}")
print()
print("updated value is:")
print(sales_df)

total sales values is0    200
1     75
2    240
3    200
4    105
dtype: int64

updated value is:
  product  quantity  price  total_sales
0       A        10     20          200
1       B         5     15           75
2       A        12     20          240
3       C         8     25          200
4       B         7     15          105

#calculate the product sales in each product

In [29]:
product_sales=sales_df.groupby('product')['total_sales'].sum()
print("product sales is:")
print()
print(product_sales)

product sales is:

product
A    440
B    180
C    200
Name: total_sales, dtype: int64